*, *:before, *:after {
  box-sizing: border-box;

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url(../img/4.jpg) no-repeat fixed center; /* BACKGROUND IMAGE */
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

body {
  text-align: center;
}

/* NAVBAR RESPONSIVA (PRECISA DO SCRIPT PARA FUNCIONAR) */
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
      text-shadow: 1px 1px #63656b;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
}
 
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 0.5s;
}
 
nav.black ul {
      background: #000;
}
 
nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      text-shadow: 1px 1px #63656b;
      font-weight: bold;
}

nav ul li a:hover {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      text-shadow: 1px 1px #63656b;
      font-weight: bold;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
 
 @media(max-width: 786px) {
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: #000;
      }
 
      nav.black ul {
            background: #000;
      }
 
      .showing {
            max-height: 34em;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
 
      .menu-icon {
            display: block;
      }

}

/* CONTEUDO */

.conteudo {
  width: 80%;
  background-color: rgba(255,255,255,0.7);
  position: relative;
  top: 98px;
  margin: auto;
}

.conteudo .carrinho-bar {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

.conteudo hr {
  width: 98%;
  border: 1px solid black;
}

.conteudo .titulo-carrinho{
  position: absolute;
  left: 4%;
}

.conteudo .preço-carrinho{
  position: absolute;
  left: 68.5%;
}

.conteudo .qtd-carrinho{
  position: absolute;
  left: 90%;
}

.panel-info .panel-heading {
  background-color: #303131;
  border-color: black;
}

.panel-info {
  border-color: black;
}

.col-xs-8 {
  width: 100%;
}

.row {
  margin: 0 auto;
}