*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

html {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: #3b5998;
}

body {
  font-family: 'Titillium Web', sans-serif;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  opacity: 95%;
}

/* NAVBAR */

header {
      background: url(../img/5.jpg) no-repeat center center;
      width: 100%;
      height: 100vh;
      background-size: cover;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 0.5s;
      letter-spacing: 2px;
}

nav.black ul {
      background: #3b5998;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #3b5998;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #3b5998;
      }

      nav.black ul {
            background: #3b5998;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

/* CONTENT */

.content {
  text-align: justify;
  position: absolute;
  transform: translate(4%, -20%);
  background-color: white;
  padding: 5px 20px 20px 20px;
  -webkit-box-shadow: 6px 9px 5px 0px rgba(140,140,140,0.4);
  -moz-box-shadow: 6px 9px 5px 0px rgba(140,140,140,0.4);
  box-shadow: 6px 9px 5px 0px rgba(140,140,140,0.4);
  border-radius: 3px;
}

.content h2 {
    text-align: center;
}