*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url(../img/4.jpg) no-repeat fixed center; /* BACKGROUND IMAGE */
  background-size: cover;
}

body {
  text-align: center;
}

/* NAVBAR RESPONSIVA (PRECISA DO SCRIPT PARA FUNCIONAR) */
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
      text-shadow: 1px 1px #63656b;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
}
 
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 0.5s;
}
 
nav.black ul {
      background: #000;
}
 
nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      text-shadow: 1px 1px #63656b;
      font-weight: bold;
}

nav ul li a:hover {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      text-shadow: 1px 1px #63656b;
      font-weight: bold;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
 
 @media(max-width: 786px) {
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: #000;
      }
 
      nav.black ul {
            background: #000;
      }
 
      .showing {
            max-height: 34em;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
 
      .menu-icon {
            display: block;
      }
 
}

/* CONTEUDO */

.conteudo {
  width: 80%;
  background-color: rgba(255,255,255,0.7);
  position: relative;
  top: 98px;
  margin: auto;
}

.conteudo h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/* BOX LIST DE PRODUTOS */


.card{
  display: inline-grid;
  width: 240px;
  background: #f1f1f1;
  position: relative;
  margin: 20px;
  border-radius: 5px;
}

.top-section{
  height: 310px;
  overflow: hidden;
  background: #fff;
  position: relative;
}
#image-container{
  width: 240px;
  height: 360px;
  border-radius: 5px;
}

.price{
  position: absolute;
  top: 2px;
  right: 4px;
  color: black;
  font-size: 24px;
}
.product-info{
  padding: 10px;
}
.name{
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: bold;
}
.dis{
  font-size: 16px;
  opacity: 0.7;
  text-align: justify;
}
.btn{
  display: block;
  background: black;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-top: 10px;
  transition: 0.2s;
}
.btn:hover{
  background: gray;
  color: white;
  font-weight: bold;
}
